section{
    background-color: darkolivegreen;
}

h1{
    background-color: rebeccapurple;
}

p{
    background-color: saddlebrown;
}

h2{
    background-color: springgreen;
}

span > p{
    background-color: salmon;
}

ol{
    background-color: brown;
}

.col1{
    color:#3b2015;
}

.col2{
    color:#15700d;
}

.col3{
    color:#0a528d;
}

.col4{
    color:#b62846;
}

.col5{
    color:#97330c;
}